In [1]:
import gzip
import json
import random
import re
ls = []
for line in gzip.open("all_records_4488912.txt.gz", "rt"):
    l = json.loads(line)['description']['fileUnit']
    try: 
        id = l['localIdentifier']
    except KeyError:
        id = None
    ls.append((l['scopeAndContentNote'], l['title'], l['naId'], id))

In [3]:
random.shuffle(ls)

renamings = {
    "date of birth": "birth date",
    "alias name(s)": "alias",
    "alias name": "alias",
    "country of birth": "country",
    "Father's Name": "father",
    "Mother's Name": "mother"
}

def parse(scope_and_content):
    output = {}
    if scope_and_content.startswith("The following"):
        l = scope_and_content.split("\n")[1:]
        for line in l:
            if (len(line) < 2):
                continue
            k, v = line.rstrip().split(":")
            k = k.strip().lower()
            if k in renamings:
                k = renamings[k]

            output[k] = v.strip()
    if scope_and_content.startswith("This file"):
        l = scope_and_content.split(".  ")[1:]
        for line in l:
            if (len(line) < 2):
                continue
            line = line.rstrip()
            k, v = re.split(r" is listed as | listed as | is ", line)
            k = k.strip().lower()
            if k in renamings:
                k = renamings[k]
            output[k] = v.strip().rstrip(".")
    if len(output) < 1:
        print(scope_and_content)
        raise

    return output
all_rows = []
for row in ls:
    try:
        dicto = parse(row[0])
        dicto['name'] = row[1].split(" for ", 1)[-1]
        dicto['naid'] = row[2]
        dicto['id'] = row[3]
        all_rows.append(dicto)
    except:
        print(row)
        continue

Dockets covering Chicago criminal cases 19786-19940 (1929).
('Dockets covering Chicago criminal cases 19786-19940 (1929).', 'VEO Under Edit Test Description - 02', '176237757', None)
('This file consists of an alien case file for Calogera Alongi.  Date of birth is listed as 0/319/1888.  Country is listed as Italy.  Alias name Calogera Cristi.', 'Alien Case File for Calogera Alongi', '5235742', 'A2574053/085-09-4368/Box 295')
Dockets covering Chicago criminal cases 19786-19940 (1929).
('Dockets covering Chicago criminal cases 19786-19940 (1929).', 'VEO Under Edit Test Description - 01', '176237756', None)

In [4]:
import pandas as pd

In [5]:
g = pd.DataFrame(all_rows)

In [6]:
import random
random.choice(all_rows)

{'birth date': '12/07/1879',
 'country': 'Italy',
 'name': 'Joseph Stellita',
 'naid': '5195283',
 'id': 'A1556888/085-09-4368/Box 207'}

In [7]:
g.columns

Index(['birth date', 'country', 'name', 'naid', 'id', 'date of entry',
       'port of entry', 'father', 'mother', 'alias', 'naturalization date',
       'naturalization location', 'sex', 'father's name', 'mother's name'],
      dtype='object')

In [36]:
cache = {}

In [4]:
import pyarrow as pa
from pyarrow import feather, parquet

feather.read_table("cleaned.feather")

pyarrow.Table
birth date: date32[day]
name: string
country: dictionary<values=string, indices=int16, ordered=0>
sex: dictionary<values=string, indices=int8, ordered=0>
port of entry: dictionary<values=string, indices=int16, ordered=0>
date of entry: date32[day]
naturalization date: date32[day]
alias: string
naid: int64

In [38]:

def reload_cache():
    previous = pd.read_parquet("cache.feather")
    previous[~previous.index.duplicated(keep='first')]

    if (len(cache)):
        combined = pd.concat([pd.DataFrame(cache.values()).set_index("q"), previous])
        combined.to_parquet("cache.parquet")
        return combined
    else:
        return previous
seen = reload_cache()

In [43]:
coords = seen[["lng", "lat"]]
coords

                          lng       lat
q
Philadelphia        -75.16379  39.95233
NaN                      None      None
San Ysidro, CA     -117.04308    32.552
VANCEBORO, ME       -67.42972   45.5634
Niagara Falls, NY   -79.05671   43.0945
...                       ...       ...
LAS VEGAS, NV      -115.13722  36.17497
LAWRENCE, MA        -71.16311  42.70704
Las Vegas, Nevada  -115.13722  36.17497
Louisville, KY      -85.75941  38.25424
AGANA, GU           144.74773  13.46559

[591 rows x 2 columns]

In [75]:
g.sample(n=100).set_index("country").join(coords).reset_index()\
.rename(columns={'index': 'country', 'lng': 'country.lng', 'lat': "country.lat"})\
.set_index("port of entry").join(coords).reset_index()\
.rename(columns={'index': 'port of entry', 'lng': 'port of entry.lng', 'lat': "port of entry.lat"})\
.set_index("port of entry").join(coords).reset_index()\
.rename(columns={'index': 'naturalization location', 'lng': 'naturalization location.lng', 'lat': "naturalization location.lat"})

,naturalization location,country,birth date,name,naid,id,date of entry,father,mother,alias,...,naturalization location,sex,father's name,mother's name,country.lng,country.lat,port of entry.lng,port of entry.lat,naturalization location.lng,naturalization location.lat
0,"Boston, MA (IA)",Canada,6/17/1882,Henry Bois,40109405,A2853034/566-016-0023/384,2/8/1884,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-113.64258,60.10867,NaN,NaN,NaN,NaN
1,"Boston, MA (IA)",Canada,11/12/1910,Vera Cook,40094669,A2475993/566-016-0023/224,8/28/1928,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-113.64258,60.10867,NaN,NaN,NaN,NaN
2,"Buffalo, NY (IA)",Ireland,1/10/1892,Annie Hesson,40174507,A4973934/566-016-0023/1525,5/25/1921,NaN,NaN,NaN,...,"Buffalo, NY",NaN,NaN,NaN,-8,53,NaN,NaN,NaN,NaN
3,"Detroit, MI",Canada,6/23/1898,Myrtle West,7188135,A4349474/566-12-88/Bx 710,11/19/1914,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-113.64258,60.10867,-83.04575,42.33143,-83.04575,42.33143
4,"El Paso, TX (IA)",Mexico,2/16/1868,Julia De La Rosa,40070701,A1863531/566-016-0023/599,10/24/1921,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-102,23,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208,NaN,NaN,05/09/1882,Axel Johansen,5291880,A4193774/085-08-0110/Box 71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
1209,NaN,NaN,05/09/1882,Axel Johansen,5291880,A4193774/085-08-0110/Box 71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
1210,NaN,NaN,05/09/1882,Axel Johansen,5291880,A4193774/085-08-0110/Box 71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
1211,NaN,NaN,05/09/1882,Axel Johansen,5291880,A4193774/085-08-0110/Box 71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
1212,NaN,NaN,05/09/1882,Axel Johansen,5291880,A4193774/085-08-0110/Box 71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None

In [17]:
from urllib.request import urlopen 
from urllib.parse import urlencode
import json

replacements = [("Curacoa", "Curacao"), ("hiladelhia", 'hiladelphia')]
def search(string, featureclass):
    for junk in [" (Airport)", " (IA)", " (MA)"]:
        string = string.replace(junk, "")
    
    if string in cache:
        return cache[string]
    if string in seen:
        return
    query = {"featureClass":"A", "q":"Mexico", "maxRows": 1, "style":"LONG", "username":"benmschmidt"}
    for replacement in replacements:
        query['q'] = string.replace(*replacement)
    parsed = urlencode(query, doseq=False)    
    remote = urlopen(f"http://api.geonames.org/searchJSON?" + parsed + "&featureClass=P")
    data = json.load(remote)
    cache[string] = data['geonames'][0]
    cache[string]['q'] = string
    return cache[string]

In [18]:
for NA in ['Stateless', "Unknown POE", "Unknown", "UNKNOWN POE", "Born On Board Ship", "Arabian Peninsula"]:
    cache[NA] = {}

In [19]:
for field in ['country']:
    for k in g.groupby(field)['name'].count().sort_values(ascending=False).head(550).index:
        print(k, end="; ")
        try:
            search(k, "A")
        except:
            print("\n\n**" + k + "\n")
            

for field in ['port of entry', 'naturalization location']:
    for k in g.groupby(field)['name'].count().sort_values(ascending=False).head(250).index:
        print(k, end="; ")
        try:
            search(k, "P")
        except:
            print("\n**" + k + "**")

Mexico; Canada; Italy; United Kingdom; Poland; Cuba; Germany; Russia; Austria; Philippines; Ireland; Hungary; Portugal; Japan; Spain; Greece; United States; Lithuania; China, People's Republic Of; Sweden; Turkey; Finland; Yugoslavia; Netherlands; Norway; Czechoslovakia; France; Soviet Union; Romania; Korea; China, People's Republic of; Latvia; Denmark; Ussr; Jamaica; Syria; Belgium; Switzerland; Vietnam; Iran; Colombia; India; The Bahamas; El Salvador; Argentina; China, People'S Republic Of; Nicaragua; Stateless; Lebanon; Ukraine; Australia; Ecuador; Brazil; Peru; Guatemala; Albania; Estonia; Unknown; Dominican Republic; Indonesia; Barbados; Egypt; Costa Rica; Chile; Honduras; Bulgaria; Haiti; Panama; Us; Venezuela; Taiwan; Trinidad And Tobago; Bahamas, The; USSR; Armenia; South Africa; Israel; Guyana; Iraq; Cape Verde; New Zealand; Laos; Jordan; Cambodia; Belize; Malta; Puerto Rico; Bermuda; French Polynesia; Pakistan; Hong Kong; British Virgin Islands; Bolivia; Thailand; Cyprus; St. Kitts-Nevis; Uruguay; Burma; Samoa; Algeria; Belarus; Luxembourg; Antigua-Barbuda; Iceland; Morocco; Grenada; Palestine; Cayman Islands; Tunisia; Afghanistan; Slovak Republic; Sri Lanka; Netherlands Antilles; St. Vincent-Grenadines; South Korea; Croatia; Montserrat; Singapore; Malaysia; Serbia And Montenegro; Macedonia; Dominica; Slovakia; Dr; St. Lucia; Tonga; Moldova; Yemen; listed as;

**listed as

British VIrgin Islands; Paraguay; Gibraltar; Fiji; Anguilla; Bangladesh; Liberia; San Marino; Libya; Born On Board Ship; U.S. Virgin Islands; Ethiopia; Suriname; Sudan; Macau; Turks And Caicos Islands; Ghana; Montenegro; Azerbaijan; Sierra Leone; Georgia; Nigeria; Martinique; Africa; Slovenia; Guadeloupe; Somalia; Isle Of Man; Uzbekistan; Saudi Arabia; Bvi; Guinea-Bissau; U.S. VIrgin Islands; Kenya; Guinea; Bosnia-Herzegovina; St. VIncent-Grenadines; Mauritius; Zimbabwe; Aruba; Liechtenstein; Czech Republic; Isle of Man; New Caledonia; Madagascar; Tanzania; #N/A;

**#N/A

Seychelles; Palau; ; Guam; Mozambique; American Samoa; Asia; Serbia; Niger; Europe; St. Pierre And Miquelon;

**St. Pierre And Miquelon

Guernsey; French Guiana; Angola; Uganda; Monaco; Norfolk Island; North Korea; Falkland Islands; Bhutan; Arabian Peninsula; Benin; Tajikistan; Mauritania; Central African Republic; Marshall Islands; Cameroon; Sao Tome And Principe; Swaziland; Turkmenistan; Bahrain; South America; Brunei; Zambia; Curacao; Rwanda; Equatorial Guinea; Ship; Senegal; Congo, Republic; Kazakhstan; Micronesia,Federated States Of; Namibia; United Arab Emirates; French Southern And Antarctic; Arabi; Gambia, The; Vanuatu; Burundi; Maldives; Faroe Islands; Wallis And Futuna Islands;

**Wallis And Futuna Islands

Western Sahara; Kyrgyzstan; Kuwait; Kosovo; Nepal; Northern Mariana Islands; Eritrea; St. Helena; Pales; Papua NEw Guinea; Domin; Togo; Papua New Guinea; Dem Rep Of The Congo;

**Dem Rep Of The Congo

Reunion; Curacoa;

**Curacoa

Scotland; Christmas Island; St. Marten; Solomon Islands; Jersey; New York, NY (IA); Miami, Florida; New York, New York; Boston, MA (IA); Los Angeles, CA (IA); El Paso, TX (IA); Unknown; Unknown POE; San Ysidro, CA; NEW YORK, NY (IA); Honolulu, HI (IA); New York, NY; Detroit, MI; Los Angeles, CA; San Francisco, CA; VANCEBORO, ME; Miami, FL (IA); Buffalo, NY (IA); UNKNOWN POE; Niagara Falls, NY; BOSTON, MA (IA); Seattle, WA; NEWPORT, VT; Los Angeles, California; San Francisco, California; Boston, Massachusetts; ST ALBANS, VT; Blaine, WA; Honolulu, Hawaii; Chicago, Illinois; Vanceboro, Maine; Philadelphia, PA (IA); Hoboken, NJ; Honolulu, HI; PROVIDENCE, RI; Detroit, Michigan; San Juan, Puerto Rico; Calexico, CA (A); MILLTOWN BRIDGE, ME;
**MILLTOWN BRIDGE, ME**
El Paso, Texas (Airport); Newark, New Jersey; Miami, FL; El Paso, TX; Philadelphia, Pennsylvania; Seattle, Washington; Buffalo, New York; Norton, Vermont; Laredo, TX (IA); Nogales, AZ (IA); Baltimore, Md (IA); San Pedro, CA; LAREDO, TX (IA); PRESIDIO, TX; Tampa, Florida; BALTIMORE, MD (IA); Key West, Florida; Providence, RI; Champlain, New York; HONOLULU, HI (IA); Laredo Gateway Bridge/Laredo, Texas (Juarez-Lincoln Bridge);
**Laredo Gateway Bridge/Laredo, Texas (Juarez-Lincoln Bridge)**
Houlton, Maine; NOGALES, AZ (IA); Chicago, IL (IA); EL PASO, TX (IA); New Orleans, Louisiana; ROUSES POINT, NY (SEAPLANE;
**ROUSES POINT, NY (SEAPLANE**
Calais, Maine; Newark And Teterboro, NJ;
**Newark And Teterboro, NJ**
Vanceboro, Me; Calexico, CA; Rouses Point, NY (Seaplane;
**Rouses Point, NY (Seaplane**
Niagara Falls, New York; Jackman, Maine; OGDENSBURG, NY (MA); PHILADELPHIA, PA (IA); FABENS, TX; Chicago, IL; Baltimore, Maryland; Port Huron, MI; Anchorage, Alaska; Port Everglades, Florida; San Ysidro, California; Port Huron, MI (MA); HIGHGATE SPRINGS, VT; NIAGARA FALLS, NY; EAGLE PASS, TX (MA); New Orleans, LA; New Orleans, La; Philadelphia, Pa (IA); NEW ORLEANS, LA; Fort Fairfield, Maine; Port Huron, Mi (MA); BLAINE, WA; Newport, Vermont; Nogales, Arizona; Noyes, MN; Nogales, AZ; DERBY LINE, VT (I-91);
**DERBY LINE, VT (I-91)**
St. Albans, Vermont; Rouses Point, New York; St Albans, VT; Boston, MA; Laredo, TX; Honolulu, Hi (IA); Blaine, Washington; Anchorage, AK; Brownsville Seaport and South Padre Airport / Brownsville, Texas;
**Brownsville Seaport and South Padre Airport / Brownsville, Texas**
HOBOKEN, NJ; Washington, DC; Key West, FL (IA); Chicago, Il (IA); Beecher Falls, Vermont; LEWISTON, NY; Sault Ste. Marie, MI; Newport, VT; HOULTON, ME; Brownsville, TX (IA); Galveston, TX; Norton, VT; BUFFALO, NY (IA); Hidalgo, TX; Van Buren, Maine; Thousand Islands Bridge, New York;
**Thousand Islands Bridge, New York**
Eagle Pass, TX (MA); CHAMPLAIN, NY; Houston, Texas; Highgate Springs, Vermont; San Diego, CA (MA); BEECHER FALLS, VT; Unknown - Country and Others;
**Unknown - Country and Others**
California Service Center;
**California Service Center**
COLUMBUS, NM; Houston, TX; SEATTLE, WA; Derby Line, Vermont; Candelaria, Texas; CHICAGO, IL (IA); Port Huron, Michigan; THOUSAND ISLAND BRIDGE, NY;
**THOUSAND ISLAND BRIDGE, NY**
West Palm Beach, Florida; PORT HURON, MI (MA); Cape Vincent, NY; NEWARK AND TETERBORO, NJ;
**NEWARK AND TETERBORO, NJ**
Noyes, Mn; Sweetgtass, MT;
**Sweetgtass, MT**
Champlain, NY; CALEXICO, CA (A); Hidalgo, Texas; Atlanta, Georgia; Lewiston, New York; Fort Kent, Maine; PORTLAND, ME; ROCHESTER, NY (MA); DEL RIO, TX (IA); Eastport, ID; Eagle Pass, Texas; Portland, Maine; Noyes, Minnesota; San Diego, CA; DOUGLAS, AZ (A); San Antonio, Texas; Norfolk, Va; Buffalo, NY; MORRISTOWN, NY; Washington DC; BROWNSVILLE, TX (IA); Sweetgrass, Montana; Eastport, Idaho; GALVESTON, TX; JACKMAN, ME; Maida, North Dakota; Calexico, California; VAN BUREN, ME; Tampa, FL (IA); Nogales, Az (IA); HIDALGO, TX; Madawaska, Maine; Baltimore, MD (IA); SAN JUAN, PR (IA); Dallas, Texas; San Luis, AZ; Cleveland, Ohio; Eastport, Id; Jacksonville, Florida; Richford, Vermont; San Diego, California; TROUT RIVER, NY; St. Paul, Minnesota; Baltimore, MD; Providence, Rhode Island; DETROIT, MI; Philadelphia, PA; Unknown Poe;
**Unknown Poe**
NORTH TROY, VT; Galveston, Texas; Hartford, Connecticut; Norfolk, Virginia; SAN FRANCISCO, CA; Agana, GU (MA); Vermont Service Center;
**Vermont Service Center**
Douglas, AZ (A); Ogdensburg, NY (MA); NOYES, MN; Brownsville, TX; Portland, Oregon; EASTPORT, ID; Roma, TX; ANCHORAGE, AK; Bridgewater, Maine; Sault Ste. Marie, Michigan; NACO, AZ; BANGOR, ME (IA); Bangor, ME (IA); Milltown Bridge, Me;
**Milltown Bridge, Me**
Port Royal, Sc; SAULT STE. MARIE, MI; Lewiston, NY; NORFOLK, VA; Seattle, Wa; Texas Service Center;
**Texas Service Center**
Eastport, Maine; San Antonio, TX; San Juan, PR (IA); Lincoln, Nebraska; SAN PEDRO, CA; North Troy, Vermont; Sweetgtass, Mt;
**Sweetgtass, Mt**
Jersey City, NJ; RICHFORT, VT;
**RICHFORT, VT**
Phoenix, Arizona; Pembina, ND (A); Sumas, WA; FORT COVINGTON, NY; Houlton, Me; MASSENA, NY (A);
**MASSENA, NY (A)**
VANCOUVER, WA; Cleveland, OH (A); Harlingen, Texas; Port Angeles, WA; Charlotte Amalie, St. Thomas, Virgin Islands; FORT FAIRFIELD, ME; YSLETA, TX; San Juan, Pr (IA); Pittsburgh, Pennsylvania; Port Everglades, FL; Charlotte, North C arolina;
**Charlotte, North C arolina**
PORT ROYAL, SC; Portland, OR; Eagle Pass, TX; EASTPORT, ME; Los Angeles, CA; Newark, New Jersey; Boston, MA; Miami, Florida; Detroit, MI; El Paso, TX; New York, NY; Buffalo, NY; St. Paul, Minnesota; Denver, Colorado; BOSTON, MA; Portland, Oregon; San Francisco, California; Seattle, WA; Houston, Texas; New Orleans, Louisiana; Atlanta, Georgia; Portland, Maine; Philadelhia, Pennsylvania; Newark, NJ; Miami, FL; Los Angeles, California; Memphis, Tennessee; New York, New York; San Francisco, CA; BUFFALO, NY; Omaha, Nebraska; EL PASO, TX; NEWARK, NJ; NEW YORK, NY; SEATTLE, WA; Charlotte, North Carolina; San Diego, CA; Spokane, Washington; Chicago, IL; Chicago, Illinois; PORTLAND, OR; SPOKANE, WA; Phoenix, Az; Boston, Massachusetts; Providence, Rhode Island; Portland, OR; Salt Lake City, Utah; Spokane, WA; Washington, Dc; Phoenix, AZ; Philadelhia, PA; Dallas, Texas; San Bernadino, CA; Helena, Montana; Cleveland, OH; CHICAGO, IL; Houston, TX; Santa Ana, CA; San Jose, California; Norfolk, Virginia; San Antonio, Texas; ALBUQUERQUE, NM; Portland, Or; Cleveland, Ohio; Hartford, CT; San Antonio, TX; Honolulu, Hawaii; Albany, New York; Hartford, Connecticut; Pittsburgh, Pennsylvania; Honolulu, HI; ALBANY, NY; San Juan, Puerto Rico; Detroit, Michigan; Chicago, Il; National Records Center;
**National Records Center**
Albany, NY; St. Albans, VT; Dallas, TX; Washington, DC; HARTFORD, CT; DENVER, CO; St. Paul, MN; St. Louis, Missouri; ST. PAUL, MN; ANCHORAGE, AK; El Paso, Texas; Harlingen, TX; Pittsburgh, PA; Baltimore, MD; Baltimore, Maryland; SAN ANTONIO, TX; Buffalo, New York; St. Albans, Vermont; PHILADELHIA, PA;
**PHILADELHIA, PA**
Salt Lake City, UT; WASHINGTON, DC; San Jose, CA; Milwaukee, WI; SALT LAKE CITY, UT; Omaha, NE; California Service Center;
**California Service Center**
Providence, RI; NEW ORLEANS, LA; Kansas City, MO; San Diego, California; Cleveland, Oh; Unknown - CO & OTHERS;
**Unknown - CO & OTHERS**
DALLAS, TX; Helena, MT; New Orleans, LA; Milwaukee, Wisconsin; Seattle, Washington; Denver, CO; MILWAUKEE, WI; Norfolk, VA; Nebraska Service Center;
**Nebraska Service Center**
Indianapolis, IN; BALTIMORE, MD; Cincinnati, Ohio; CLEVELAND, OH; Hartford, Ct; Cincinnati, OH; Charlotte, NC; Tampa, Florida; St. Louis, MO; Atlanta, GA; Anc; Anchorage, AK; Yakima, WA; Hialeah, FL; PROVIDENCE, RI; Memphis, TN; LOS ANGELES, CA; PITTSBURGH, PA; Baltimore, Md; San Juan, PR; MIAMI, FL; Unknown - Co & Others;
**Unknown - Co & Others**
INDIANAPOLIS, IN; DeNVer, CO; SAN DIEGO, CA; CINCINNATI, OH; Fresno, CA; Portland, ME; St. Paul, Mn; Sacramento, CA; Yakima, Washington; NEBRASKA SERVICE CENTER;
**NEBRASKA SERVICE CENTER**
Las Vegas, NV; Indianapolis, Indiana; Kansas City, Missouri; OMAHA, NE; Denver, Co; Omaha, Ne; Harlingen, Texas; Agana, Guam; SACRAMENTO, CA; Kendall, FL; SAN JOSE, CA; SAN FRANCISCO, CA; Rome, Italy; MEMPHIS, TN; SAN JUAN, PR; Albuquerque, NM; ST. LOUIS, MO; Nebraska Records Center;
**Nebraska Records Center**
HARLINGEN, TX; HONOLULU, HI; HELENA, MT; Atlanta, Ga; Portland, Me; Tampa, FL; Philadelhia, Pa; Cincinnati, Oh; Tucson, AZ; ATLANTA, GA; Milwaukee, Wi; Charlotte Amalie, VI; St. Louis, Mo; Agana, GU; BOISE, ID; Mt. Laurel, NJ;
**Mt. Laurel, NJ**
Vienna, Austria; Oklahoma City, Oklahoma; Norfolk, Va; Reno, NV; Oakland Park, FL; Orlando, FL; PHOENIX, AZ; PORTLAND, ME; Jacksonville, Florida; KANSAS CITY, MO; RENO, NV; Kansas City, Mo; FRESNO, CA; Central Office             ,; CHARLOTTE, NC; Brownsville, Texas; Charleston, SC; Central Office; Brooklyn, NY; Boise, ID; Miami, Fl; DETROIT, MI; NATIONAL RECORDS CENTER;
**NATIONAL RECORDS CENTER**
ORLANDO, FL; Pittsburgh, Pa; Providence, Ri; SAN BERNADINO, CA; ST. ALBANS, VT; Sacramento, California; Salt Lake City, Ut; San Juan, Pr; Santo Domingo, REP DOMINICA;
**Santo Domingo, REP DOMINICA**
Seattle, Wa; TEXAS SERVICE CENTER;
**TEXAS SERVICE CENTER**
Tucson, Arizona; UNKNOWN - CO & OTHERS;
**UNKNOWN - CO & OTHERS**
Vermont Service Center;
**Vermont Service Center**
YAKIMA, WA; NORFOLK, VA; Mariel Cuban Doc Center;
**Mariel Cuban Doc Center**
EASTERN REGION, Burlington, Vermont;
**EASTERN REGION, Burlington, Vermont**
Manila, Philippines; Eastern Region, BURL. VT;
**Eastern Region, BURL. VT**
El Salvador, San Salvador; Eloy, AZ; Frankfurt, Germany; Greer, SC INS OFFICE;
**Greer, SC INS OFFICE**
Hammond, IN; Hammond, Indiana; Honolulu, Hi; Imperial, CA INS OFFICE;
**Imperial, CA INS OFFICE**
Indianapolis, In; LAS VEGAS, NV; LAWRENCE, MA; Las Vegas, Nevada; Louisville, KY; MT. LAUREL, NJ;
**MT. LAUREL, NJ**
AGANA, GU;

In [139]:
g.groupby('port of entry')['name'].count().sort_values(ascending=False).head(90).sample(10)

port of entry
EAGLE PASS, TX (MA)                                              486
San Ysidro, California                                           513
Laredo Gateway Bridge/Laredo, Texas (Juarez-Lincoln Bridge)      779
Houlton, Maine                                                   761
Port Huron, MI (MA)                                              505
El Paso, TX                                                     1343
San Pedro, CA                                                   1035
ROUSES POINT, NY (SEAPLANE                                       707
NEW YORK, NY (IA)                                              11134
New Orleans, La                                                  456
Name: name, dtype: int64

In [82]:
g.groupby('naturalization location')['name'].count().sort_values(ascending=False).head(20)

naturalization location
Los Angeles, CA              61754
Newark, New Jersey           19813
Boston, MA                   16029
Miami, Florida               15810
Detroit, MI                   4439
El Paso, TX                   4229
New York, NY                  3589
Buffalo, NY                   3550
St. Paul, Minnesota           2743
Denver, Colorado              2707
BOSTON, MA                    1459
Portland, Oregon              1403
San Francisco, California      862
Seattle, WA                    814
Houston, Texas                 783
New Orleans, Louisiana         710
Atlanta, Georgia               618
Portland, Maine                460
Philadelhia, Pennsylvania      420
Newark, NJ                     321
Name: name, dtype: int64

In [14]:
g.groupby('sex')['name'].count().sort_values(ascending=False).head(20)

sex
Female    5711
Male      4247
Name: name, dtype: int64